* {
    padding: 0;
    margin: 0;
    /* pointer-events: none; */
}
html, body {
    max-width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
}
/* .cover {
    width: 100%;
    height: 100vh;
    background: url(/assets/transperant.jpg);
    background-size: cover;
    background-attachment: fixed;

}

scratch {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(/assets/sad_frog.jpg);
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
    user-select: none;
    border-radius: 50%;
} */

.sc__inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 /* .sc__wrapper {
    display: block;
    width: 100%;
    height: 900px;
    max-width: 300px;
    margin: 0 auto;
    border: 5px solid white;
 } */
 
 .sc__container {
    position: relative;
    overflow: hidden;
    height: 300px;
    max-width: 300px;
 }
 
 .sc__container > img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
 }
 
 .sc__container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
 }
 
 .sc__infos {
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
 }

.mask1 {
   width: 300px;
   height: 300px;
   -webkit-mask-image: url(/assets/tbr.png);
   mask-image: url(/assets/tbr.png);

   -webkit-mask-composite: destination-out;
   mask-composite: destination-out;
   /* -webkit-mask-repeat: no-repeat; */
   /* mask-repeat: no-repeat; */
}

.container {
   /* border: 3px solid yellow; */
   position: relative;
   width: 300px;
   height: 300px;
   margin: 0 auto;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none; 
   -o-user-select: none;
   user-select: none;
}

.canvas {
   position: absolute;
   top: 0;
   z-index: 10;
}

img {
   pointer-events: none;
   z-index: 5;
}