* {
   padding: 0;
   margin: 0;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none; 
   -o-user-select: none;
   user-select: none;
}
html, body {
   max-width: 100%;
   overflow: hidden;
   overscroll-behavior: none;
   -webkit-overflow-scrolling: none;
}

/* Shape Mask */
.mask {
   width: 300px;
   height: 300px;
   -webkit-mask-image: url(/assets/tbr.png);
   mask-image: url(/assets/tbr.png);

   -webkit-mask-composite: destination-out;
   mask-composite: destination-out;
   /* -webkit-mask-repeat: no-repeat; */
   /* mask-repeat: no-repeat; */
}

.scratch-area {
   /* border: 3px solid yellow; */ 
   position: absolute;
   width: 300px;
   height: 300px;
   margin: 0 auto;
}

.cover {
   position: absolute;
   top: 0;
   z-index: 10;
}

.result {   
   pointer-events: none;
   top: 0;
   z-index: 5; /* behide cover */
}

/* composition */
#scratch-card-1 {
   top: 0px;
   left: 20px;
}
#scratch-card-2 {
   top: 300px;
   left: 150px;
}
#scratch-card-3 {
   top: 500px;
   left: 0px;
}