* {
   padding: 0;
   margin: 0;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

html,
body {
   overflow: hidden;
   overscroll-behavior: none;
   -webkit-overflow-scrolling: none;
   width: 100vw;
   height: 100vh;
}


.container {
   transition: opacity 0.5s ease;
   width: 100vw;
   height: 100vh;
   position: absolute;
   padding-left: 0%;
   padding-right: 0%
}


.hidden {
   opacity: 0;
   pointer-events: none;
   /* Prevent interaction with hidden elements */
}


/* Loading Page */
.loading-text {
   font-size: 18px;
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#loadButton {
   font-size: 16px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Main Page */
#main-page {
   padding: 0%;
   background-size: 100% 100%;
}

.pattern {
   position: absolute;
   display: none;
   flex-direction: column-reverse;
   width: 100%;
   height: 100%;
   padding: 0%;
}

/* Dragon */
.dragon {
   width: 100%;
   height: 100%;
   object-fit: contain;
   overflow: scroll;
}

#dragon-3 {
   object-position: center bottom;
}

.pupil {
   position: fixed;
}

/* Title */
.title {
   width: 100%;
   height: auto;
   bottom: 0%;
   z-index: 5;
}

#title-3 {
   position: fixed;
   width: 100%;
}

/* Scratch Card */
.scratch-card {
   width: 200px;
   height: 200px;
   position: fixed;
   transform: translate(-50%, -50%);
}

.cover {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 10;
}

.result {
   width: 100%;
   height: 100%;
   position: absolute;
   pointer-events: none;
   z-index: 5;
   /* behide cover */
}


.particles>.particle {
   z-index: 20;

   border-radius: 100%;
   background: transparent;

   position: fixed;

   background-size: 100% 100%;
   background-repeat: no-repeat;

   &.smaller {
      width: 5px;
      height: 5px;
   }

   &.small {
      width: 10px;
      height: 10px;
   }

   &.normal {
      width: 15px;
      height: 15px;
   }

   &.big {
      width: 20px;
      height: 20px;
   }

   &.bigger {
      width: 25px;
      height: 25px;
   }
}