* {
   padding: 0;
   margin: 0;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

html,
body {
   max-width: 100%;
   overflow: hidden;
   overscroll-behavior: none;
   -webkit-overflow-scrolling: none;
}

/* Shape Mask */
.mask {
   width: 100%;
   height: 100%;

   -webkit-mask-composite: destination-out;
   mask-composite: destination-out;
   -webkit-mask-size: 100%;
   mask-size: 100%;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
}

.scratch-area {
   width: 131px;
   height: 103px;
   position: absolute;
   margin: 0;
}

.cover {


   position: absolute;
   top: 0;
   z-index: 10;
}

.result {
   pointer-events: none;
   top: 0;
   z-index: 5;
   /* behide cover */
}

.mask-1-1 {
   -webkit-mask-image: url(/assets/textures/test_pattern_health.png);
   mask-image: url(/assets/textures/test_pattern_health.png);
}

.mask-1-2 {
   -webkit-mask-image: url(/assets/textures/test_pattern_love.png);
   mask-image: url(/assets/textures/test_pattern_love.png);
}

.mask-1-3 {
   -webkit-mask-image: url(/assets/textures/test_pattern_work.png);
   mask-image: url(/assets/textures/test_pattern_work.png);
}

.mask-2-1 {
   -webkit-mask-image: url(/assets/textures/test_pattern_health.png);
   mask-image: url(/assets/textures/test_pattern_health.png);
}

.mask-2-2 {
   -webkit-mask-image: url(/assets/textures/test_pattern_health.png);
   mask-image: url(/assets/textures/test_pattern_health.png);
}

.mask-2-3 {
   -webkit-mask-image: url(/assets/textures/test_pattern_work.png);
   mask-image: url(/assets/textures/test_pattern_work.png);
}

.mask-3-1 {
   -webkit-mask-image: url(/assets/textures/test_pattern_health.png);
   mask-image: url(/assets/textures/test_pattern_health.png);
}

.mask-3-2 {
   -webkit-mask-image: url(/assets/textures/test_pattern_health.png);
   mask-image: url(/assets/textures/test_pattern_health.png);
}

.mask-3-3 {
   -webkit-mask-image: url(/assets/textures/test_pattern_work.png);
   mask-image: url(/assets/textures/test_pattern_work.png);
}

/* composition */
/* #scratch-card-1-1 {
   width: 131px;
   height: 103px;
}

#scratch-card-1-2 {
   width: 131px;
   height: 103px;
}

#scratch-card-1-3 {
   width: 131px;
   height: 103px;
}

#scratch-card-2-1 {
   width: 131px;
   height: 103px;
}

#scratch-card-2-2 {
   width: 131px;
   height: 103px;
}

#scratch-card-2-3 {
   width: 131px;
   height: 103px;
}

#scratch-card-3-1 {
   width: 131px;
   height: 103px;
}

#scratch-card-3-2 {
   width: 131px;
   height: 103px;
}

#scratch-card-3-3 {
   width: 131px;
   height: 103px;
} */

#scratch-card-1-1 {
   top: 0px;
   left: 20px;
}

#scratch-card-1-2 {
   top: 240px;
   left: 150px;
}

#scratch-card-1-3 {
   top: 560px;
   left: 0px;
}

#scratch-card-2-1 {
   top: 0px;
   left: 0px;
}

#scratch-card-2-2 {
   top: 240px;
   left: 120px;
}

#scratch-card-2-3 {
   top: 600px;
   left: 0px;
}

#scratch-card-3-1 {
   top: 0px;
   left: 170px;
}

#scratch-card-3-2 {
   top: 300px;
   left: 0px;
}

#scratch-card-3-3 {
   top: 620px;
   left: 120px;
}